.cabecalho{
    text-align: center;
    font-family: Heattenschweiler; 'Arial Narrow Bold';
    font-size: large;
}

.body{
    text-align:center;
    font-size: medium;
    font-family: Georgia, 'Times New Roman', Times, serif;

}